<div class="configuration">
	<div class="col-md-8 col-md-offset-2">
		<h3>Configuration</h3>
		<blockquote>
			<p>{{lessons.message1}}</p>
			<small>{{lessons.message2}}</small>
		</blockquote>
		<p>In this section, we'll jump right into some Angular-specific vocabulary. I'll provide some definitions for these later on.</p>
		<p>In the .config function, we've <em>injected</em> ngRoute, which is an Angular <em>module</em> that we needed to provide for the application. You can find it in the boot.js supplied.</p>
		<p>By using the $routeProvider object, we can use the .when and .otherwise methods to establish routes before the application loads.</p>
	</div>
</div>