<div class="col-md-8 col-md-offset-2">
	<h2>Lesson #1</h2>
	<p>If you've gotten here, I want you guys to create your own page and route it from the navbar. Here's a high-level outline of the process:</p>
	<ol>
		<li>After a user loads the page, he'll click on the link to load a section of the website asynchronously</li>
		<li>Angular will take that partial URL and send it to the main module<li>
		<li>The .config function in the main module will see that it has a route for it in the .when module</li>
		<li>Angular will then open the template specified in the templateUrl as well as it's corresponding controller--without refreshing the whole page</li>
	</ol>
	
	Here are the steps you should take:
	<ol>
		<li>Create your own folder under heroes</li>
		<li>Create a submodule</li>
		<li>Create a controller under that submodule (specifying $scope is optional, but you still need some sort of message body, otherwise the IDE will complain)</li>
		<li>Create an html page in the template folder</li>
		<li>Edit the main module, FirstAngular.js, to specify the new route</li>
		<ul>
			<li>Make sure you specify a logical name which will correspond to the next step</li>
		</ul>
		<li>Go to home.html in the navbar and change the href attribute for your page to be #[logical_name]</li>
		<li>Go to boot.js or in the home.html and include the new module and controller</li>
		<li>Deploy it on a server and see if the rerouting works</li>
	</ol>
</div>