<div class="container-fluid">
	<div class="col-md-4 col-md-offset-2">
		<h3 name="Modules">Modules</h3>
		<p>The FirstAngular project consists of a main module with many submodules.</p> <p>In this project, the main module is called "FirstAngular".</p> <p>You can see this by looking at the source code for home.html, specifically in the head tag of the home page. Additionally, you'll see that we've created a module in FirstAngular.js named "FirstAngular"</p>
	</div>
	<div class="col-md-4">
		<h3>Syntax</h3>
		<blockquote>
			<p>angular.module("FirstAngular", []);</p>
			<small>FirstAngular.js</small>
		</blockquote>
		<p>This is how you create a module in Angular. In the square brackets, you can add submodules; we'll talk about two kinds of submodules, Angular submodules and custom submodules.</p>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<h3>Note:</h3>
		<p>You can also store that module in a variable, but if you do this:</p>
			<blockquote>
				<p>var myModule = angular.module("FirstAngular", []);</p>
				<small>Incorrect synax if previously instantiated</small>
			</blockquote>
		<p>Angular will write over the FirstAngular module that you've instantiated and configured before.<p>
	</div>
</div>