<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h3 name="MVC">MVC</h3>
		<p>AngularJS follows a similar design pattern to Spring MVC:</p>
		<ol>
			<li>Client sends a request to the front controller (server/page)</li>
			<li>The front controller sends the request to the corresponding controller</li>
			<li>Service classes/files manipulate the DOM</li>
			<li>Data gets sent back to the front and the view is changed</li>
		</ol>
	</div>
</div>