<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<h2>Mad Libs<small>$scope example</small></h2>
		<h4>Summary</h4>
		<p>This is an example of how $scope is the only Angular service that shares the same scope across 
		all injected controllers. We'll also see how other services, like $log, have scopes unique to the 
		controllers they're injected in to. I've also created a custom service, called storyService. storyService 
		will perform the same functionality as $scope, but it's one that we've created.</p>
		<p>Mad Libs is a game where you give a list of nouns, verbs, adjectives, etc. before you read the actual story. 
		Then you place the words in the story and see what you've created. Heres what we'll do and what we'll see: <p>
		<ul>
			<li>Inject $scope into 3 separate controllers corresponding to 3 story pages</li>
			<li>Add words to the $scope service</li>
			<li>Use Angular's binding to print words stored in $scope to 3 stories</li>
		</ul>
		{{message}}
	</div>
	
	<div class="col-md-8 col-md-offset-2">
		<h1>Yay Mad Libs</h1>
		<form class="form-horizontal">
			<fieldset>
				<legend>Fill in these blanks</legend>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Hero</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="hero" ng-model="storyService.hero">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">First Name</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="firstName" ng-model="story.firstName2">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Noun 1</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="noun1" ng-model="story.noun1">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Noun 2</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="noun2" ng-model="story.noun2">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Noun 3</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="noun3" ng-model="story.noun3">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Abstract Noun</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="aNoun1" ng-model="story.aNoun1">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Abstract Noun</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="aNoun2" ng-model="story.aNoun2">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Plural Noun</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="pluralNoun1" ng-model="story.pluralNoun1">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Plural Noun</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="pluralNoun2" ng-model="story.pluralNoun2">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Adjective 1</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="adj1" ng-model="story.adj1">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Adjective 2</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="adj2" ng-model="story.adj2">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Adjective 3</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="adj3" ng-model="story.adj3">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Adjective 4</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="adj4" ng-model="story.adj4">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Adjective 5</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="adj5" ng-model="story.adj5">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Adjective 6</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="adj6" ng-model="story.adj6">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Adjective 7</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="adj7" ng-model="story.adj7">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Adjective 8</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="adj8" ng-model="story.adj8">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Adjective 9</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="adj9" ng-model="story.adj9">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Color 1</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="color1" ng-model="story.color1">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Color 2</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="color2" ng-model="story.color2">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Color 3</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="color3" ng-model="story.color3">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Adverb 1</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="adv1" ng-model="story.adv1">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Adverb 2</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="adv2" ng-model="story.adv2">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Adverb 3</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="adv3" ng-model="story.adv3">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Past Tense Verb 1</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="pastVerb1" ng-model="story.pastVerb1">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Past Tense Verb 2</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="pastVerb2" ng-model="story.pastVerb2">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Past Tense Verb 3</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="pastVerb3" ng-model="story.pastVerb3">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Past Tense Verb 4</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="pastVerb4" ng-model="story.pastVerb4">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Past Tense Verb 5</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="pastVerb5" ng-model="story.pastVerb5">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Past Tense Verb 6</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="pastVerb6" ng-model="story.pastVerb6">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Past Tense Verb 7</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="pastVerb7" ng-model="story.pastVerb7">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Present Tense Verb 1</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="presentVerb1" ng-model="story.presentVerb1]">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Animal</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="animal" ng-model="story.animal">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Dwelling</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="dwelling" ng-model="story.dwelling">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Geographical Terrain</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="terrain" ng-model="story.terrain">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Location</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="location" ng-model="story.location">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Body Part 1</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="bodyPart1" ng-model="story.bodyPart1">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Body Part 2</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="bodyPart2" ng-model="story.bodyPart2">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Body Part 3</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="bodyPart3" ng-model="story.bodyPart3">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Time Period</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="timePeriod" ng-model="story.timePeriod">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Emotion</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="emotion" ng-model="story.emotion">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Clothing</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="clothing1" ng-model="story.clothing1">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Clothing (plural)</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="pluralClothing1" ng-model="story.pluralClothing1">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">Clothing (plural)</label>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="pluralClothing2" ng-model="story.pluralClothing2">
					</div>
				</div>
				
				<!-- Good ole submit button; saves info to $scope -->
				<div class="form-group">
					<div class="col-md-10 col-md-offset-2">
						<button type="submit" class="btn btn-primary" ng-click="update(story)">Submit</button>
						<button type="button" class="btn btn-default" ng-click="reset()">Reset</button>
					</div>
				</div>
				
			</fieldset>
		</form>
		<div class="btn-group brn-group-justified">
			<a href="#madlibs/story1" class="btn btn-default">Star Wars</a>
			<a href="#madlibs/story2" class="btn btn-default">Knight and Dragon</a>
			<a href="#madlibs/story3" class="btn btn-default">Superhero</a>
		</div>
	</div>
</div>