<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<h2>The Knight and the Dragon</h2>
	
		<p>
		Once upon a time, there was an {{story.adj1}} knight named {{story.firstName1}}, 
		who, by his valiant {{story.aNoun1}}, saved the kingdom from the {{story.adj2}} 
		dragon and {{story.pastVerb1}} the princess in the nick of time. He rode 
		his {{story.adj3}} animal from the {{story.adj4}} {{story.terrain}} upon which the kingdom was 
		built, journeying into the unknown. He was {{story.emotion}} and did not 
		stop for fear the dragon would {{story.presentVerb}} them all.
		
		By and by, he came to a giant {{story.noun}} which blocked his path. He 
		stopped and {{story.pastVerb5}} {{story.adv1}} to himself. Then, summoning his {{story.adj5}} 
		anoun, he {{story.pastVerb2}} the {{story.noun}} out of his way and continued onward.
		
		At last, he reached the {{story.adj6}} {[story.dwelling] of the {{story.adj7}} dragon. The dragon 
		{{story.pastVerb6}} at his approach. They fought {{story.adv2}}. The battle was {{story.adj8}} and 
		{{story.adj9}}, raging a whole {{story.timePeriod}}, until at last, the knight seized the 
		dragon by the {{story.bodyPart1}} and {{story.pastVerb3}} him in the {{story.bodyPart2}}. The 
		princess was grateful, and the knight {{story.pastVerb4}} her over his shoulder 
		and returned to the king. The two promptly {{story.pastVerb7}}, and they lived 
		{{story.adv3}} ever after.
		</p>
	</div>
</div>