<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<h2>Super Hero</h2>
		
		<p>
		Little did the dastardly villain {{story.adj1}} {{story.bodyPart1}} know when he stole my {{story.noun1}} 
		that he'd picked on the wrong {{story.person1}}. For although my {{story.adj2}} exterior might 
		have you believe I'm an ordinary sort of {{story.person1}}, I am in fact that {{story.aNoun1}} 
		of justice, the {{story.adj3}} crusader for {{story.aNoun2}}, {{story.noun2}} {{story.person2}}!

		Quickly, I charged into an {{story.dwelling}} and changed into my {{story.color1}} {{story.pluralClothing1}}, 
		{{story.color2}} {{story.pluralClothing2}}, and my {{story.adj4}} {{story.color3}} {{story.clothing}}. 
		Thus disguised, I {{story.pastVerb3}} after {{story.adj1}} {{story.bodyPart1}} and {{story.pastVerb1}} 
		him in the {{story.bodyPart2}}! We fought, and we {{story.pastBerb4}}; 
		we {{story.pastVerb4}}, and we fought. First I had the upper hand, and then he {{story.pastVerb2}} me 
		and gained an advantage. But then I grabbed a nearby {{story.noun3}} and speared him through 
		the {{story.bodyPart3}}. Victory was mine!
		</p>
	</div>
</div>