<div class="snake">
	<div class="container-fluid">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Let's play Snake</h2>
			<canvas id="canvas" width="450" height="450"></canvas>
		</div>
	</div>
</div>