<div class="container-fluid">
	<div class="col-md-10 col-md-offset-1">
		<h2>Two-Way Data Binding</h2>
		<h4>What is thaaaaaaaat?</h4>
		<p>Two-way data binding is where:</p>
		<ul>
			<li>The changes to the view are reflected in the model</li>
			<li>Changes in the model are reflected in the view</li>
		</ul>
		<p>In the olden days, templates were static. This meant that to change any content in a web browser, 
		the server needed to send a whole new HTML document to display on users' browsers. Because of this, 
		the view was tightly coupled to the DOM; in fact, the view and the DOM were the same. Developers 
		had to deal with the same code over and over again, like a navigation bar, a footer, a side menu, etc. 
		Here's one Angular freed the view from the DOM--the presentation from the template. </p>
	</div>
		
	<div class="col-md-10 col-md-offset-1">
		<h4>Example</h4>
		<p>Your Angular application starts with a template which is a base HTML file. This is the DOM. 
		We will then add directives in the DOM, or base HTML template, for manipulation. 
		The first of these directives are ng-model.</p>
		<ul>
			<li>In html</li>
		</ul>
<pre>
<div ng-controller="Controller">
	<div>
		<label>What is your quest?</label>
		<input type="text" ng-model="quest" />
	</div>
	<hr />
	<p>My quest is: {{ quest }}.</p>
</div>
</pre>
		<ul>
			<li>In controller</li>
		</ul>
<pre>
angular.module('App').controller('Controller', ['$scope', function($scope) {
	$scope.quest = '';
}])
</pre>
		<p>Initially the controller set the variable quest to an empty string, which is reflected in the paragraph tags. 
		Then the user can change the view by adding some characters in the input box. If you open the browser console 
		with F12, you can see that the template has changed dynamically. Angular put in an empty string for My quest is: '' 
		and then updates the view through a change in the model.</p>
	</div>
</div>












