<div class="container-fluid">
	<div class="page-header">
		<div class="col-md-10 col-md-offset-1">
			<h2>Dependency Injection</h2>
			<h4>Let's define it and then break it down to <em>Dependency</em> and <em>Injection</em></h4>
			
			<strong>Dependency Injection</strong> - <em>noun</em>
			<p>Passing an object to a function rather than creating an object inside a function.</p>
			<ul>
				<li>Promotes more loosely-coupled code</li>
				<li>Code becomes more reusable because you can write an object once and then inject it into many functions without having to copy and paste.</li>
				<li>Change code in one place and see it affect many areas of code at once, rather than going to every instance of that code and changing each instance.</li>
			</ul>
			<p>Angular allows you to pass modules and services as parameters so you don't have to type it all out in the body of the module/controller.</p>
		</div>
	</div>
	<div class="page-header">
		<div class="col-md-10 col-md-offset-1">
			<h4>Minification</h4>
			<p>As we should know, converting a regular .js file into a minified .js file does several things:</p>
			<ul>
				<li>Removes excess whitespace characters</li>
				<li>Renames variable names to its absolute smallest size</li>
				<li>Improves download speed by reducing the file size</li> 
			</ul>
			<p>However, when you minify FirstAngular.js, MainController.js, etc, 
			minification will destroy your dependency injection. 
			It renames $scope as "a" or "b" and Angular won't know 
			that you're actually referencing the $scope service/object.</p>
			<p>In order to maintain dependency injection, you can pass that function as an array.
			So your code will go from this:</p>
<pre>
myApp.controller('MainController', function($scope, $log) {
	$log.info("This is an informative string");
	$log.info($scope);
})
</pre>
			<p>To this:</p>
<pre>
myApp.controller('MainController', ['$scope', '$log', function(a,b) {
	$b.info('This is an informative string"");
	$b.info(a);
}]);
</pre>
			<p>And so Angular will take the first element in the array--$scope--and pass it to the function defined
			in the last element of the array--function(a,b)--as the parameter a. Likewise Angular will pass $log as
			parameter b.</p>
			<p>It's also important to note that Angular will treat the parameters to the function(a,b) as variable names, 
			not the actual name of the object. So this is a way to get confused really quickly:</p>
<pre>
myApp.controller('MainController', ['$scope', '$log', function($log, $scope) {
	$scope.info($log);
}]);
</pre>
			<p>In this case, Angular will take the first two strings in the array, find those services, and then declare var $log = $scope.</p>
		</div>
	</div>
</div>













