<div class="container-fluid">
	<div class="page-header">
		<div class="col-md-10 col-md-offset-1">
			<h2>Scope Service<small>$scope</small></h2>
			
<pre>
myApp.controller('MainController', function($scope){ 
	console.log($scope);
);
</pre>
			
			<p>All Angular services start with $. When you declare a controller, the last parameter to the controller must be a function. In the function you can pass values in for injection.</p>
			<p>$scope is like an object. You can add attributes to the scope:</p>
	
<pre>
myApp.controller('MainController', function($scope) {
	$scope.name = 'John Doe';
);
</pre>
	
			<p>You can also declare a function and call it from inside the $scope:</p>
			
<pre>
myApp.controller('MainController', function($scope) {

	$scope.getName = function() {
		return "User";
	}
	
	$scope.getName();
});
</pre>
			
			<p>You can think of $scope as the glue that binds the View and the Controller. Like a ModelMap in Spring MVC.</p>
		</div>
	</div>
	<div class="page-header">
		<div class="col-md-10 col-md-offset-1">
			<h2>Other Services</h2>
			<h4>$log</h4>
			<p>$log service provides a way to replicate console.log() but with more information. $log has several functions such as:</p>
			<ul>
				<li>$log.log(string); which behaves the same way as console.log(string)</li>
				<li>$log.error(string); colors the string in red</li>
				<li>And several others we will use in the future</li>
			</ul>
		</div>
	</div>
</div>













