<div class="container-fluid">
	<div class="col-md-10 col-md-offset-1">
		<h2>Modules, Apps, Controllers</h2>
	</div>
	<div class="col-md-10 col-md-offset-1">
		<h4>Angular Module</h4>
		<div class="row">
			<button type="button" class="btn btn-default">var myApp</button>
					 = 
			<button type="button" class="btn btn-default">angular.module</button>
			<button type="button" class="btn btn-default">('myApp', [])</button>
		</div>
		<div class="row">
			<ul>
				<li>var myApp</li>
				<ul>
					<li>This is how you declare a variable in javascript</li>
					<li>The variable name provides a simple way to reach the Angular module</li>
				</ul>
				<li>angular.module()</li>
				<ul>
					<li>This is how to declare a module in Angular. In the context of FirstAngular.js, this is how we create our main module. Our main module will have many submodules just to componentize (separate) different parts of our web application</li>
					<li>We will pass in two arguments into the main module</li>
				</ul>
				<li>'myApp', []</li>
				<ul>
					<li>'myApp' is the logical name of the module. Corresponds to the Angular Directive/HTML Attribute ng-app="myApp"</li>
					<li>Takes in a javascript array: []. This is where you include any dependencies the controller will need
				</ul>
			</ul>
		</div>
		<div class="row">
			<button type="button" class="btn btn-default">myApp.controller</button>
			<button type="button" class="btn btn-default">('MyController', function() {});</button>
		</div>
		<div class="row">
			<ul>
				<li>myApp.controller</li>
				<ul>
					<li>This is the syntax for declaring a controller</li>
					<li>The controller helps glue the logic (DOM or model) to the view (HTML template)</li>
					<li>We'll come back and learn best practices in the future; it's scope is beyond the basics for now. Just know that we should separate the controller from any logic/manipulation of the DOM</li>
				</ul>
			</ul>
		</div>
	</div>
</div>