<div class="container-fluid">
	<div class="col-md-10 col-md-offset-1">
		<h4>The Event Loop and Listeners</h4>
		<p>In JavaScript (JS) and jQuery (JQ), we've created listeners that waited for something 
		to happen under its jurisdiction. When it registers that an event has happened, it 
		executes some code. Some examples: keypress, click, mouseover, etc. We'll soon see how 
		Angular adds to this.</p>
	</div>
	<div class="col-md-10 col-md-offset-1">
		<h4>Digest Loop</h4>
		<p>Angular has an internally running Digest Loop that runs concurrently with the event loop. 
		Whenever something changes, the digest loop automatically reflects changes in the view and model. 
		Angular employs watchers that keep track of changes in the DOM. It keeps changing fields that depend on 
		other fields and compares old values to new values until all of the new values are the old values--i.e. 
		there are no more changes.</p>
	</div>
</div>