<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<h2>This is Dale's Page</h2>
		<p>And here's the message I want to send you: {{message}}.</p>
		<!-- This should be straight forward, but we've specified controllerAs: 'dale' and bound message to the DaleController scope -->
		<!-- The very last thing we need to do to get this working is include our module (Dale.js) and controller (DaleController.js)
			 Into our homepage as a script.
			 
			 I've used head.load which is a third party JS script that allows you to read from a file
			 In it I've included all the js files that we'll need
			 You an also include CSS this way
			 
			 If you don't include this then you'll get an error:
			 	Uncaught Error: [$injector:nomod] url/[module name]
			 Which is basically saying that they can't find the module that you want to include
			 
			 You can check the console in your browser in F12
			 If no angular-based content loads (nothing in ng-view, etc), then you know you have this issue
			 If your Angular application doesn't compile correctly, then no content will be displayed
			 
			 
		 	 -->
	</div>
</div>