<nav class="navbar navbar-default navbar-bottom">
	<div class="container-fluid">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="navbar-header">
			<div class="col-md-3 col-md-offset-1">
				Created in JS, JQ, AngularJS, Eclipse, Weblogic
			</div>
			<div class="col-md-3 col-md-offset-1">
				Copyright 2015
			</div>
			<div class="col-md-3 col-md-offset-1">
				Pizza and Donuts
			</div>
		</div>
	</div>
</nav>