<div id="navbar">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
    		<div class="navbar-header">
    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
       				<span class="sr-only">Toggle navigation</span>
       				<span class="icon-bar"></span>
       				<span class="icon-bar"></span>
       				<span class="icon-bar"></span>
    			</button>
    			<a class="navbar-brand" href="#main">First Angular</a>
    			</div>

    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      				<ul class="nav navbar-nav">

		        		<li class="dropdown">
		          			<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">Lessons <span class="caret"></span></a>
		          			<ul class="dropdown-menu" role="menu">
		          				<li><a href="#main">Main</a></li>
		          				<li class="divider"></li>
		          				<li>First Lesson</li>
		            			<li><a href="#mvc">MVC</a></li>
		            			<li><a href="#modules">Modules</a></li>
		            			<li><a href="#configuration">Configuration</a></li>
		            			<li><a href="#controllers">Controllers</a></li>
		            			<li><a href="#services">Services</a></li>
		            			<li class="divider"></li>
		            			<li>Now It's Your Turn</li>
		            			<li><a href="#instructions">Instructions</a></li>
		          			</ul>
		        		</li>

		        		<li class="dropdown">
		          			<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">Heroes <span class="caret"></span></a>
		          			<ul class="dropdown-menu" role="menu">
		            			<li><a href="#">Aaron</a></li>
		            			<li><a href="#">Alex</a></li>
		            			<li><a href="#dale">Dale</a></li>
		            			<li><a href="#">Diqi</a></li>
		            			<li><a href="#">Isaac</a></li>
		            			<li><a href="#">Jake</a></li>
		            			<li><a href="#">Nathan</a></li>
		            			<li><a href="#">Randy</a></li>
		            			<li><a href="#">Ronak</a></li>
		          			</ul>
		        		</li>

		        		<li class="dropdown">
		          			<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">Apps <span class="caret"></span></a>
		          			<ul class="dropdown-menu" role="menu">
		          				<li>Finished</li>
		            			<li><a href="#lunch">What's for Lunch?</a></li>
		            			<li class="divider"></li>
		            			<li>In Progress</li>
		            			<li><a href="#todolist">To-Do List</a></li>
		            			<li><a href="#madlibs">MadLibs</a></li>
		            			<li><a href="#snake">Snake</a></li>
		          			</ul>
		        		</li>
		        		
		        		<li class="dropdown">
		        			<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">Vernacular <span class="caret"></span></a>
		        			<ul class="dropdown-menu" role="menu">
		        				<li><a href="#structures">Structures</a></li>
		        				<li><a href="#di">Dependency Injection</a></li>
		        				<li><a href="#services">Services</a></li>
		        			</ul>
		       			</li>
		      		</ul>
		      	</div>
		  	</div>
		</nav>
	</div>