<div class="col-md-8 col-md-offset-2">
	<div class="page-header">
		<h2>Lesson 1</h2>
		<h4>Create your own page and route it:</h4>
		<p>Instructions:</p>
		<ul>
			<li>Create your own page under [Your Name].html in src/main/[Your Name]/[Your Name].html</li>
			<li>Add a route in the .config function of the main module</li>
			<li>Create a controller and add it to src/main/[Your Name]/[Your Name]Controller.js</li>
			<li>Republish your server and load up the main page</li> 
		</ul>
	</div>
</div>