<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<h1>Read This Page</h1>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="page-header">
			<h3>Intro to AngularJS</h3>
			<p>This is where we'll learn how to create a responsive web page without needing to refresh the entire page. This page assumes you're familiar with the overall concept of html pages, importing javascript files, and some of the structure of AngularJS.</p>
			<p>In this website, I'll give you the ability to fork the main repository through Github. You'll then have access to the basic structure of the website and any common files necessary for you to replicate this site. After you follow the directions I've posted, you should be able to use an Angular controller to load another page.</p>
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="body1 page-header">
			<h3>What's Next?</h3>
			<p>Once you have the files, copy them into a Dynamic Web Project in Eclipse. We'll need the Weblogic Application Server to use the CDN we've specified.</p>
			<ol>
				<li>Create a Dynamic Web Project (I called mine FirstAngular, naturally)</li>
				<li>Create a folder in WebContent (I called mine "site")</li>
				<li>Copy the file structure exactly into the WebContent folder</li>
				<li>Add the project to your server</li>
				<li>Open page home.html</li>
				<ul>(go to "http://localhost:7001/[projectName]/[folder in WebContent/home.html]"</ul>
				<li>Now you should see a functioning website</li>
				<li>Click on the "Test" link in the navbar to asynchronously load the test page</li>
			</ol>
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="body2 page-header">
			<h3>What's going on?</h3>
			<p>Throughout this tutorial, we will cover some key structures and features of Angular, namely:</p>
			<ul>
				<li><a href="#mvc">MVC</a></li>
				<li><a href="#modules">Modules</a></li>
				<li><a href="#configuration">Configuration</a></li>
				<li><a href="#controllers">Controllers</a></li>
				<li><a href="#services">Services</a></li>
				<li><a href="#instructions">Instructions</a></li>
			</ul>
		</div>
	</div>
</div>