<!-- Have an input field where you can make a to-do list item -->

<div class="col-md-10 col-md-offset-1">
	
	<!-- This div will contain a message, some instructions -->
	<div>
		<h2>To Do List</h2>
		<p>Here you may use the menu on the right to create to-do list tasks to add. When you're finished, you can simply click and drag the task to the completed section, and vice versa. You can also click a button that will move that task to the opposing side. When you're absolutely sure you've finished the task, you can click the x to delete that task from your list entirely
	</div>
	
	<!-- This div will have the in-progress tasks -->
	<div class="col-md-4 col-md-offset-2">
		<h3>In-Progress</h3>
		<ul class="list">
			<li ng-repeat="item in todolist.inprogress" draggable></li>
		</ul>
	</div>
	
	<!-- This div will have completed tasks -->
	<div class="col-md-4">
		<h3>Completed</h3>
		<ul class="list">
			<li ng-repeat="item in todolist.comlpeted" draggable></li>
		</ul>
	</div>

</div>