<div class="container-fluid">
	<div class="col-md-6 col-md-offset-3">
		<h2>What's for Lunch?</h2>
		<p>Input form data here, and then generate the data below. This will be the first step in creating a form 
		to handle REST calls. Also the parameters are required because we're sending them in the URL using an HTTP GET request.</p>
	</div>
	<div class="col-md-6 col-md-offset-3">
		<form novalidate class="simple form">
			<div class="form-group">
				<label for="term" class="col-md-2">Search term</label>
				<div class="col-md-10">
					<input type="text" ng-model="lunch.term" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="sort" class="col-md-2">Sort by</label>
				<div class="col-md-10">
					<div class="radio">
						<label>
							<input type="radio" value="0" ng-model="lunch.sort">
							Best Match
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" value="1" ng-model="lunch.sort" checked="">
							Distance
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" value="2" ng-model="lunch.sort">
							Highest Rated
						</label>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-md-10 col-md-offset-2">
					<button class="btn btn-primary" ng-click="lunch.lookForLunch(lunch.term, lunch.sort)">Look For Lunch!</button>
					<button class="btn btn-default" ng-click="lunch.reset()">Reset</button>
					<button class="btn btn-default" ng-click="lunch.random()">Random</button>
				</div>
			</div>
		</form>
	</div>
	
	<div class="col-md-6 col-md-offset-3">
		<div class="well">
			<h2>From Yelp</h2>
			<table class="table table-striped table-hover" id="lunch-table">
				<tr class="clickable-row" ng-repeat="restaurant in lunch.lunches track by $index" id="lunch-results" data-href="{{ restaurant.restaurantUrl }}">
					<td>
						<h3>
							<a href="{{ restaurant.restaurantUrl }}">{{restaurant.restaurantName}}</a><br />
						</h3>
					</td>
					<td>
						<img ng-src="{{ restaurant.restaurantRating }}">
					</td>
					<td>
						{{restaurant.restaurantLocation}}
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
