<div class="col-md-8 col-md-offset-2">
	<div class="col-md-8 col-md-offset-2">
		<h2>Random Lunch</h2>
	</div>
	
	<!-- This is where we print
		 - Details for a random restaurant
		 - Button to generate another random restaurant -->
	<div class="col-md-8 col-md-offset-2">
		{{ lunch.randomRestaurant.name }}<br />
		<img ng-src="{{ restaurant.restaurantRating }}"><br />
		{{ lunch.randomRestaurant.url }}<br />
		{{ lunch.randomrestaurant.location}}<br />
		<br />
		<button class="btn btn-warning" ng-click="lunch.newRandomRestaurant()">I don't like that</button>
	</div>
</div>