<div class="col-md-10 col-md-offset-2">
	<h2>Calculator</h2>
	<h4>Goal:</h4>
	<p>To use Angular to consume a simple REST service in java. 
	We've created a REST backend in Spring MVC, using @RestController and several methods annotated with 
	@RequestMapping to specify endpoints for different functions of a Calculator service. 
	Afterward, we'll extend this to another application within the website. </p>
	
	<form>
		<input type="number" ng-model="a" />
		<input type="number" ng-model="b" />
		<div class="btn-group">
			<a href="#" cklass="btn btn-default">Add</a>
			<a href="#" class="btn btn-default">Subtract</a>
			<a href="#" class="btn btn-default">Multiply</a>
		</div>
	</form>
</div>